<div class="navbar">
    <div class="nbalogo">
        <img src="img/nbalogo.png" alt="NBA Logo">
    </div>
    <div class="left">
        <a href="#">Ver Todos los Jugadores</a>
        <a href="#">Acerca De</a>
    </div>
    <div class="right">
        <a href="#">Iniciar Sesión</a>
        <a href="#">Registrarse</a>
    </div>
</div>